@font-face {
  font-family: "BebasNeueBold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/BebasNeueBold/BebasNeueBold.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueBold/BebasNeueBold.woff2") format("woff2"), url("../fonts/BebasNeueBold/BebasNeueBold.woff") format("woff"), url("../fonts/BebasNeueBold/BebasNeueBold.ttf") format("truetype"); }

@font-face {
  font-family: "Circe";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Circe/Circe.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe/Circe.woff") format("woff"), url("../fonts/Circe/Circe.ttf") format("truetype"); }

@font-face {
  font-family: "Circe";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Circe/Circe.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe/Circe.woff") format("woff"), url("../fonts/Circe/Circe.ttf") format("truetype"); }
