@charset "UTF-8";
body input:focus:required:invalid,
body textarea:focus:required:invalid,
body select:focus:required:invalid {
  color: #e24141;
  border-color: #e24141; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  *:focus {
    outline: none; }
  *:active {
    outline: none; }

.hidden {
  display: none; }

.modal_character_historiy_vote__button.hidden {
  display: none; }

.only_xxl {
  display: none !important; }

.container {
  margin-right: auto;
  margin-left: auto;
  width: 1130px; }

.container:before {
  display: table;
  content: " "; }

.container:after {
  display: table;
  content: " ";
  clear: both; }

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  overflow-x: hidden;
  color: #484848; }

h1 {
  font-family: BebasNeueBold, sans-serif;
  line-height: 1;
  font-size: 175px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -2.6px;
  font-weight: normal;
  margin: 130px 0 57px -8px; }

h2 {
  font-family: BebasNeueBold, sans-serif;
  font-size: 100px;
  line-height: 100px;
  color: #e24141;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: -0.5px; }

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  line-height: 34px;
  color: #fff;
  margin: 0;
  font-weight: 400; }

h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  font-weight: 400 28px;
  margin: 0; }

h5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  line-height: 20px;
  margin: 0;
  color: #e24141;
  font-weight: 400; }

p {
  margin: 0; }

a {
  color: #484848;
  -webkit-transition: .25s;
  -o-transition: .25s;
  transition: .25s; }
  a:hover {
    color: #e24141; }
  a:active, a:focus {
    color: #e24141;
    outline: none; }

.button {
  color: #fff;
  background-color: #e24141;
  padding: 18px 34px 22px 31px;
  display: inline-block;
  line-height: 1;
  font-size: 20px;
  text-decoration: none;
  z-index: 30;
  position: relative; }
  .button:hover {
    background-color: #F54746;
    color: #fff;
    text-transform: none; }
  .button:active {
    background-color: #D23D3C;
    color: #fff;
    text-transform: none; }
  .button:focus {
    color: #fff; }

header {
  position: relative;
  background-color: #1A222C;
  background-image: url(../img/header_bg.jpg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  z-index: 1000; }

.header__top_part {
  background-color: transparent;
  padding: 0;
  margin-bottom: 50px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  animation-delay: 5s;
  -webkit-animation-delay: 5s;
  -moz-animation-delay: 5s;
  -o-animation-delay: 5s;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0; }
  .header__top_part .top_nav, .header__top_part .button {
    opacity: 0; }
  .header__top_part.animated_header__top_part {
    width: 100%;
    z-index: 9999;
    background-color: #1A222C; }
    .header__top_part.animated_header__top_part .top_nav, .header__top_part.animated_header__top_part .button {
      opacity: 1; }

.logo {
  position: relative;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  width: 80px;
  margin-top: 14px; }
  .logo img {
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    position: relative;
    top: 45px;
    left: 35%;
    -webkit-transform: scale(1.7);
    -ms-transform: scale(1.7);
    transform: scale(1.7);
    width: 100%; }

.animated_logo {
  position: relative;
  top: 0; }
  .animated_logo img {
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    top: 0;
    left: 0;
    -webkit-transform: translate(0, 0) scale(1);
    -ms-transform: translate(0, 0) scale(1);
    transform: translate(0, 0) scale(1);
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 2s;
    animation-duration: 2s; }

.header__top_part_container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .header__top_part_container .button {
    padding: 22px 30px 5px 30px;
    font-size: 20px;
    font-family: Circe, sans-serif;
    display: inline-block;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: auto; }

.top_nav {
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  width: 832px; }
  .top_nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 14px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .top_nav ul li a {
      color: #fff;
      text-decoration: none;
      font-size: 20px;
      font-family: Circe, sans-serif;
      margin-right: 15px; }
      .top_nav ul li a:last-child {
        margin-right: 0; }
      .top_nav ul li a:hover, .top_nav ul li a:focus {
        color: #e24141; }
      .top_nav ul li a:active {
        color: #D23D3C; }

.header__main_part h3 {
  margin-left: -4px;
  margin-bottom: 22px; }

.header__main_part p {
  color: #fff;
  margin-bottom: 58px; }

.header__main_part .button {
  margin-bottom: 80px; }

.header__carousel_wrap {
  position: absolute;
  z-index: 20;
  bottom: 0;
  right: 0;
  width: 100%; }
  .header__carousel_wrap .owl-item {
    float: right;
    z-index: 0; }

.header__carousel {
  z-index: 0; }
  .header__carousel .owl_slide1 img {
    position: relative;
    top: 38px; }
  .header__carousel .owl_slide2 {
    position: relative;
    top: 45px;
    height: 510px; }
  .header__carousel .owl_slide3 {
    height: 555px;
    top: 0;
    position: relative; }
  .header__carousel .owl-prev {
    position: absolute;
    bottom: 80px;
    right: 97px;
    background-image: url(../img/header_carousel_arrow.svg);
    background-repeat: no-repeat;
    width: 18px;
    height: 16px;
    z-index: 400;
    background-position: center;
    background-size: contain; }
    .header__carousel .owl-prev:hover {
      opacity: .8; }
    .header__carousel .owl-prev:active {
      opacity: .6; }

.header__carousel__item_description {
  position: absolute;
  bottom: 33px;
  left: 306px; }
  .header__carousel__item_description p {
    color: #fff;
    line-height: 1; }
  .header__carousel__item_description span {
    font-size: 16px;
    margin-top: 23px;
    line-height: 1;
    display: inline-block; }

.owl_slide3 .header__carousel__item_description {
  bottom: 78px;
  left: 405px; }
  .owl_slide3 .header__carousel__item_description span {
    margin-top: 15px; }

.owl_slide2 .header__carousel__item_description {
  left: 310px;
  bottom: 78px; }
  .owl_slide2 .header__carousel__item_description span {
    margin-top: 15px; }

.s_number_of_stories {
  padding: 96px 0 105px; }
  .s_number_of_stories h2 {
    margin-bottom: 44px;
    margin-left: -4px;
    letter-spacing: -1.1px; }

.s_number_of_stories__content_wrap {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.s_number_of_stories_text {
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  width: 50%; }
  .s_number_of_stories_text p {
    line-height: 1.5; }
    .s_number_of_stories_text p:first-child {
      margin-bottom: 21px;
      padding-right: 100px; }
    .s_number_of_stories_text p:last-child {
      padding-right: 34px; }

.s_number_of_stories_nembers {
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  width: 50%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.s_number_of_stories_nembers_item {
  text-align: center;
  margin-top: 46px; }
  .s_number_of_stories_nembers_item:first-child {
    margin-right: 45px;
    margin-left: 88px; }
  .s_number_of_stories_nembers_item:last-child span {
    padding-left: 8px; }
  .s_number_of_stories_nembers_item h3 {
    color: #484848;
    font-family: BebasNeueBold, sans-serif;
    font-size: 100px;
    line-height: 1;
    margin-bottom: 0px; }
  .s_number_of_stories_nembers_item span {
    font-size: 22px;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: .6px; }

.s_vote {
  background-color: #f5f5f5;
  padding: 102px 0 100px; }
  .s_vote h2 {
    margin-bottom: 8px;
    margin-left: -4px;
    letter-spacing: -1.2px; }

.user_name_block {
  color: #e24141;
  margin-bottom: 8px;
  letter-spacing: .6px; }

.user_city_block a {
  text-decoration: none;
  border-bottom: 1px dashed;
  display: inline-block;
  line-height: 1.2;
  position: relative; }
  .user_city_block a::after {
    content: '';
    position: absolute;
    top: 8px;
    right: -22px;
    background-image: url(../img/user_city_arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 13px; }

.s_vote_items_wrap {
  padding-top: 55px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.s_vote_item {
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  width: 48%;
  background-color: #fff;
  border: 3px solid transparent;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  padding: 78px 25px 26px 45px;
  margin-bottom: 100px; }
  .s_vote_item:hover {
    border: 3px solid #e24141; }
    .s_vote_item:hover p.participator__abut_text {
      color: #e24141; }
  .s_vote_item .button {
    position: relative;
    top: 58px;
    padding-right: 29px; }

.s_vote_item_link {
  text-decoration: none; }
  .s_vote_item_link:hover p.participator_place_of_work {
    color: #484848; }

.participator_top {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.participator_image {
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  width: 100px;
  height: 100px;
  background-image: url(../img/vote_item_empty.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-right: 30px;
  overflow: hidden; }
  .participator_image img {
    width: auto;
    height: 100%; }

.participator_top__text {
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  width: 330px; }

h3.participator_name {
  font-size: 50px;
  color: #e24141;
  line-height: 1;
  font-family: BebasNeueBold, sans-serif; }

p.participator_place_of_work {
  font-size: 16px;
  line-height: 24px;
  margin-top: 5px; }

.participator_likes_number_wrap {
  position: absolute;
  right: 12px;
  top: -6px; }

.participator_likes_number {
  color: #e24141;
  font-size: 28px;
  line-height: 30px;
  font-weight: 700;
  margin-right: 5px; }

p.participator__abut_text {
  margin-top: 31px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  padding-right: 45px;
  line-height: 1.5; }

.more_participators__button_wrap {
  text-align: center;
  width: 100%;
  margin-top: -7px; }

.more_participators__button {
  display: inline-block;
  border: none;
  background: none;
  color: #e24141;
  font-size: 20px;
  line-height: 30px;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  position: relative;
  cursor: pointer; }
  .more_participators__button:hover {
    color: #F54746; }
  .more_participators__button::after {
    content: '';
    position: absolute;
    width: 17px;
    height: 11px;
    top: 10px;
    right: -23px;
    background-image: url(../img/more_participators_arrow.svg);
    background-size: contain;
    background-position: center; }

.s_about {
  padding: 90px 0 80px; }

.s_about__container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .s_about__container h2 {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: 100%;
    margin-bottom: 48px; }

.s_about__text {
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  width: 58.3%; }
  .s_about__text p {
    margin-bottom: 22px;
    line-height: 1.5; }
    .s_about__text p a {
      color: #484848; }
      .s_about__text p a:hover {
        color: #e24141; }
      .s_about__text p a:active, .s_about__text p a:focus {
        color: #e24141;
        outline: none; }

p.s_about__rules {
  margin-top: 59px;
  margin-bottom: 32px; }

.s_about__button_wrap .button {
  vertical-align: top; }

.s_about__button_wrap p {
  display: inline-block;
  margin-left: 23px;
  color: #e24141; }

.s_about__carousel_wrap {
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  width: 38.4%;
  margin-right: 3px;
  margin-top: 11px;
  position: relative;
  z-index: 0; }
  .s_about__carousel_wrap img {
    height: 593px; }
  .s_about__carousel_wrap .owl-next, .s_about__carousel_wrap .owl-prev {
    position: absolute;
    top: 40%;
    width: 35px;
    height: 35px;
    background-color: #e24141;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12px 17px; }
    .s_about__carousel_wrap .owl-next:hover, .s_about__carousel_wrap .owl-prev:hover {
      background-color: #F54746; }
    .s_about__carousel_wrap .owl-next:active, .s_about__carousel_wrap .owl-prev:active {
      background-color: #D23D3C; }
  .s_about__carousel_wrap .owl-next {
    right: -17px;
    background-image: url(../img/s_about_carousel_next_button.svg); }
  .s_about__carousel_wrap .owl-prev {
    left: -17px;
    background-image: url(../img/s_about_carousel_prev_button.svg); }

.s_about__carousel_line {
  height: 4px;
  width: 38px;
  background-color: #e24141;
  margin: 27px 0 16px; }

.s_about__carousel_descr {
  color: #484848;
  font-style: italic;
  font-size: 16px; }

.s_heroes {
  bgcbackground-color: #1A222C;
  background-image: url(../img/heroes_bg.jpg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  padding: 120px 0 120px; }
  .s_heroes .owl-stage-outer {
    padding-bottom: 25px; }
  .s_heroes h2 {
    color: #fff;
    margin-bottom: 66px; }

.heroes_carousel__item {
  width: 1130px;
  height: 405px;
  padding: 83px 20px 0	573px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  background-color: #1A222C; }
  .heroes_carousel__item h3 {
    line-height: 40px;
    margin-bottom: 46px;
    position: relative; }
    .heroes_carousel__item h3::before {
      content: '«';
      position: absolute;
      top: 1px;
      left: -15px;
      width: 10px;
      height: 10px;
      color: #fff; }
  .heroes_carousel__item p {
    color: #fff;
    padding-right: 50px; }
  .heroes_carousel__item .button_wrap {
    position: absolute;
    bottom: -21px; }
    .heroes_carousel__item .button_wrap .button {
      padding: 22px 30px 28px 60px;
      position: relative; }
      .heroes_carousel__item .button_wrap .button::before {
        content: '';
        position: absolute;
        width: 31px;
        height: 31px;
        top: 19px;
        left: 27px;
        background-image: url(../img/play_button.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat; }

.heroes_carousel__item1 {
  background-image: url(../img/heroes_item1.jpg); }

.heroes_carousel__item2 {
  background-image: url(../img/heroes_item2.jpg); }

.heroes_carousel__item3 {
  background-image: url(../img/heroes_item3.jpg); }

.heroes_carousel .owl-item .heroes_carousel__item {
  margin-top: 8.1%;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }

.heroes_carousel .owl-item.center .heroes_carousel__item {
  height: 570px;
  margin-top: 0; }

.heroes_carousel {
  position: relative; }
  .heroes_carousel .owl-nav {
    width: 100%s;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    z-index: 9999; }
  .heroes_carousel .owl-next, .heroes_carousel .owl-prev {
    position: absolute;
    top: -327px;
    width: 25.5px;
    height: 40.5px;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 9999; }
    .heroes_carousel .owl-next:hover, .heroes_carousel .owl-prev:hover {
      opacity: .8; }
    .heroes_carousel .owl-next:active, .heroes_carousel .owl-prev:active {
      opacity: .6; }
  .heroes_carousel .owl-next {
    background-image: url(../img/heroes_carousel_next_arrow.svg);
    right: 75px; }
  .heroes_carousel .owl-prev {
    background-image: url(../img/heroes_carousel_prev_arrow.svg);
    left: 75px; }

.s_cities {
  padding: 114px 0 80px; }
  .s_cities h2 {
    letter-spacing: -0.9px;
    margin-left: -5px;
    margin-bottom: 35px; }
    .s_cities h2 span {
      color: #b2b2b2; }

.s_cities__items_wrap {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start; }

.s_cities__item {
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  width: 24.5%; }
  .s_cities__item p {
    line-height: 1;
    margin-bottom: 27px; }
    .s_cities__item p span {
      color: #e24141;
      margin-left: 7px; }
  .s_cities__item:nth-child(3) {
    padding-left: 19px; }
  .s_cities__item:nth-child(4) {
    padding-left: 40px; }

.s_steps {
  padding: 0; }
  .s_steps h2 {
    color: #1a222c;
    letter-spacing: -0.3px;
    margin-bottom: 50px; }

.s_steps__container {
  position: relative; }

.steps_items_wrap {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.step_item {
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  width: 15%; }
  .step_item:nth-child(2), .step_item:nth-child(3), .step_item:nth-child(4) {
    width: 19%; }
  .step_item:nth-child(5) {
    width: 19%; }
  .step_item:nth-child(6) {
    width: 8%; }
  .step_item img {
    margin-bottom: 54px; }
  .step_item h5 {
    margin-bottom: 10px; }
  .step_item p {
    line-height: 1.4; }

.action_line_wrap {
  position: absolute;
  width: 100%;
  height: 11px;
  background-color: #F4F4F4;
  top: 250px; }

.action_line {
  height: 100%;
  width: 356px;
  background-color: #e24141; }

.s_films {
  padding: 89px 0 80px; }

.s_films__container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .s_films__container h2 {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: 100%;
    margin-bottom: 38px; }

.s_films__text {
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  width: 58.3%; }
  .s_films__text p {
    margin-bottom: 32px;
    line-height: 36px; }

.s_films__button_wrap .button {
  vertical-align: top; }

.s_films__button_wrap p {
  display: inline-block;
  margin-left: 22px;
  color: #e24141;
  line-height: 1.4; }

p.last_block {
  margin-top: 40px;
  margin-bottom: 106px; }

.s_films__carousel_wrap {
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  width: 38.4%;
  margin-right: 3px;
  margin-top: 14px;
  position: relative; }
  .s_films__carousel_wrap img {
    height: 593px; }
  .s_films__carousel_wrap .owl-next, .s_films__carousel_wrap .owl-prev {
    position: absolute;
    top: 41%;
    width: 35px;
    height: 35px;
    background-color: #e24141;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12px 17px; }
    .s_films__carousel_wrap .owl-next:hover, .s_films__carousel_wrap .owl-prev:hover {
      background-color: #F54746; }
    .s_films__carousel_wrap .owl-next:active, .s_films__carousel_wrap .owl-prev:active {
      background-color: #D23D3C; }
  .s_films__carousel_wrap .owl-next {
    right: -17px;
    background-image: url(../img/s_about_carousel_next_button.svg); }
  .s_films__carousel_wrap .owl-prev {
    left: -17px;
    background-image: url(../img/s_about_carousel_prev_button.svg); }

.s_films__carousel_line {
  height: 4px;
  width: 38px;
  background-color: #e24141;
  margin: 29px 0 22px; }

.s_films__carousel_descr {
  color: #484848;
  font-style: italic;
  font-size: 16px; }

.s_questions {
  background-color: #F4F4F4;
  padding: 83px 0 120px; }
  .s_questions h2 {
    color: #1a222c;
    margin-left: -6px;
    letter-spacing: -0.7px;
    margin-bottom: 40px; }

.questions__content {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start; }

.questions__first_block {
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  width: 39.1%;
  background-color: #fff;
  padding: 73px 0 16px 23px;
  position: relative;
  left: -51px; }
  .questions__first_block h3 {
    color: #e24141;
    letter-spacing: -1px;
    line-height: 1.1;
    margin-bottom: 10px; }

.questions__first_block_item {
  margin-bottom: 50px; }

.questions__last_block {
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  width: 60.9%;
  padding: 75px 0 0 12px; }
  .questions__last_block h3 {
    color: #e24141;
    letter-spacing: -1.1px;
    margin-bottom: 56px; }

.questions_steps {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  margin-bottom: 52px; }

.questions_steps_left {
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  width: 59%; }
  .questions_steps_left .questions_steps_item:nth-child(1) {
    margin-bottom: 53px; }
  .questions_steps_left .questions_steps_item:nth-child(2) {
    margin-bottom: 31px; }

.questions_steps_right {
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  width: 41%; }
  .questions_steps_right .questions_steps_item:nth-child(1) {
    margin-bottom: 20px; }
  .questions_steps_right .questions_steps_item:nth-child(2) {
    margin-bottom: 31px; }

.questions_steps_item h5 {
  margin-bottom: 12px; }

a.qestion_link {
  color: #e24141;
  -webkit-transition: .25s;
  -o-transition: .25s;
  transition: .25s; }
  a.qestion_link:hover {
    color: #F54746; }
  a.qestion_link:active {
    color: #D23D3C; }

.questions__last_block a.qestion_link {
  color: #e24141; }

.s_narratives {
  background-color: #1A222C;
  background-image: url(../img/narratives.jpg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  padding: 89px 0 142px; }
  .s_narratives h4 {
    color: #fff;
    font-weight: normal;
    letter-spacing: -0.1px;
    margin-bottom: 25px; }
  .s_narratives h2 {
    color: #fff;
    font-size: 116px;
    letter-spacing: 0px;
    margin-bottom: 55px; }
  .s_narratives .button {
    padding-right: 28px;
    margin-right: 24px; }

footer {
  background-color: #1A222C;
  padding: 27px 0 30px; }

.footer__container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.footer__rights, .footer__news, .footer__social {
  -ms-flex-preferred-size: auto;
  flex-basis: auto; }

.footer__rights {
  width: 51%;
  margin-top: -2px; }
  .footer__rights p {
    display: inline-block;
    margin-right: 17px;
    letter-spacing: 0.2px;
    font-size: 16px;
    color: #fffefe; }

.footer__news {
  width: 34%; }
  .footer__news a {
    font-size: 16px;
    line-height: 1;
    padding: 8px 24px 9px 18px;
    border: 2px solid #fff;
    -webkit-transition: .25s;
    -o-transition: .25s;
    transition: .25s;
    color: #fff;
    text-decoration: none; }
    .footer__news a:hover {
      color: #e24141;
      border: 2px solid #e24141;
      text-decoration: none; }
    .footer__news a:active {
      color: #D23D3C;
      border: 2px solid #D23D3C;
      text-decoration: none; }

.footer__social {
  width: 15%;
  text-align: right; }
  .footer__social a {
    -webkit-transition: .25s;
    -o-transition: .25s;
    transition: .25s;
    display: inline-block;
    width: 40px;
    height: 40px;
    padding-top: 2px;
    margin-top: -2px;
    border: 2px solid #fff;
    text-align: center;
    color: #fff;
    margin-left: 13.8px; }
    .footer__social a:first-child {
      margin-left: 0; }
    .footer__social a i {
      color: #fff;
      display: inline-block;
      vertical-align: top;
      margin-top: 5px; }
    .footer__social a:hover {
      border: 2px solid #e24141;
      color: #e24141; }
    .footer__social a:active {
      border: 2px solid #D23D3C;
      color: #D23D3C; }

.modal_films {
  position: relative; }

.modal_films__video_wrap {
  max-width: 100%;
  max-height: 100vh;
  position: relative; }
  .modal_films__video_wrap video {
    width: 100%;
    height: 100%;
    border: 3px solid #e24141; }

.mfp-close-btn-in .mfp-close {
  color: #fff;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 2000;
  background-image: url(../img/mfp-close_big.svg);
  background-size: contain;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat; }

.news_form_wrap {
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  max-width: 940px;
  padding: 100px 0 100px 100px; }
  .news_form_wrap .mfp-close {
    top: -40px;
    right: -40px;
    color: #fff;
    position: absolute;
    z-index: 2000; }
  .news_form_wrap h3 {
    text-transform: uppercase;
    font-family: BebasNeueBold;
    color: #000;
    font-size: 50px;
    line-height: 1;
    margin-bottom: 40px; }

input {
  font-size: 20px;
  color: #484848;
  font-weight: 400;
  font-family: Montserrat, snas-serif;
  border: 3px solid #282828;
  height: 60px;
  width: 340px;
  margin-right: 30px;
  text-indent: 25px; }
  input:focus {
    border: 3px solid #282828;
    outline: none; }
  input:hover {
    border: 3px solid #757575; }

label {
  display: block;
  font-size: 20px;
  color: #484848;
  line-height: 1;
  margin-bottom: 20px; }

.jq-selectbox__select {
  background: transparent;
  border: 3px solid #959595;
  height: 60px;
  width: 340px;
  text-indent: 25px;
  border-radius: 0;
  padding-top: 11px; }
  .jq-selectbox__select:hover {
    background: transparent; }

.jq-selectbox.opened .jq-selectbox__select {
  outline: none !important;
  border: 3px solid #282828 !important; }
  .jq-selectbox.opened .jq-selectbox__select:hover {
    border: 3px solid #757575;
    background-color: transparent; }

.jq-selectbox__trigger {
  border-left: none; }

.jq-selectbox__trigger-arrow {
  border-top: none;
  border-left: none;
  border-right: none;
  background-image: url(../img/select_arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 20px;
  height: 12px;
  color: #484848;
  top: 23px;
  right: 20px; }

.jq-selectbox__select-text {
  font-size: 20px;
  color: #484848;
  font-weight: 400;
  font-family: Montserrat, snas-serif;
  width: 100%; }

.jq-selectbox__select-text.placeholder {
  display: none; }

.jq-selectbox__dropdown {
  width: 340px 	!important;
  margin-top: 60px;
  border-radius: 0;
  border: 3px solid #282828;
  border-top: none; }
  .jq-selectbox__dropdown ul {
    width: 100%; }
    .jq-selectbox__dropdown ul li {
      height: 60px;
      padding: 15px 0 0 35px;
      font-size: 20px;
      color: #484848;
      font-weight: 400;
      font-family: Montserrat, snas-serif; }

form.news_form .submit {
  border: none;
  color: #fff;
  font-size: 20px;
  padding: 19px 33px;
  background-color: #e24141;
  cursor: pointer; }
  form.news_form .submit:hover {
    background-color: #F54746; }
  form.news_form .submit:active {
    background-color: #D23D3C;
    outline: none; }

#m_news_2 p {
  display: inline-block;
  margin-right: 60px;
  vertical-align: top;
  margin-top: 0; }

#m_news_2 .footer__social {
  display: inline-block;
  width: auto; }
  #m_news_2 .footer__social a {
    color: #000;
    border: 2px solid #000;
    width: 80px;
    height: 80px;
    vertical-align: top;
    margin-top: 10px;
    font-size: 40px;
    padding-top: 10px;
    margin-left: 20px; }
    #m_news_2 .footer__social a:hover {
      color: #e24141;
      border: 2px solid #e24141; }

.modal_form {
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  position: relative; }
  .modal_form h3 {
    font-size: 50px;
    line-height: 1;
    color: #000;
    font-family: BebasNeueBold, sans-serif; }

form.modal_character_historiy__form {
  height: 760px;
  padding: 0 95px 93px 103px;
  max-width: 780px; }

.modal_character_historiy__heading {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-bottom: 26px;
  position: relative;
  top: -40px; }
  .modal_character_historiy__heading h3 {
    color: #e24141;
    font-size: 50px;
    font-family: BebasNeueBold, sans-serif; }
  .modal_character_historiy__heading p {
    font-size: 16px; }

.modal_historiy_character__photo {
  width: 240px;
  height: 240px;
  margin-right: 40px;
  background-image: url(../img/vote_item_empty_big.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .modal_historiy_character__photo img {
    height: 100%;
    width: auto; }

.modal_character_historiy__heading__text {
  width: 300px; }

.modal_character_historiy__content p {
  margin-bottom: 40px;
  line-height: 30px; }
  .modal_character_historiy__content p:last-child {
    margin-bottom: 0; }

.modal_character_historiy_vote {
  margin-top: 80px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .modal_character_historiy_vote .participator_likes_number_wrap {
    position: relative; }

.modal_character_historiy_vote__thank {
  color: #e24141;
  text-align: right;
  margin-bottom: 18px;
  margin-top: 10px; }

.mfp-close-btn-in .mfp-close {
  top: -38px;
  right: -38px;
  text-align: center;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.close_line {
  background-color: #fff;
  position: relative;
  width: 25px;
  height: 2px;
  z-index: -10; }
  .close_line:first-child {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 11px; }
  .close_line:last-child {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 11px; }

#modal__user_city {
  max-width: 678px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  padding: 80px 30px 90px 100px;
  position: relative; }
  #modal__user_city h3 {
    color: #000;
    font-family: BebasNeueBold, sans-serif;
    margin-bottom: 60px;
    line-height: 1; }

.modal__user_city__links {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.modal__user_city__links_left, .modal__user_city__links_right {
  width: 47%;
  -ms-flex-preferred-size: auto;
  flex-basis: auto; }
  .modal__user_city__links_left a, .modal__user_city__links_right a {
    display: block;
    text-decoration: none;
    line-height: 1;
    margin-bottom: 30px; }

#modal_authorization {
  max-width: 913px;
  padding: 80px; }
  #modal_authorization h3 {
    margin-bottom: 40px; }

.social_authorization__buttons_wrap {
  margin: 40px 0 60px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .social_authorization__buttons_wrap button {
    background-color: transparent;
    border: 2px #484848 solid;
    cursor: pointer;
    font-size: 20px;
    font-family: Montserrat, sans-serif;
    line-height: 1;
    padding: 15px 34px 20px 28px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
    .social_authorization__buttons_wrap button span.icon {
      font-size: 24px;
      margin-right: 15px; }
    .social_authorization__buttons_wrap button:hover, .social_authorization__buttons_wrap button:active {
      color: #e24141;
      border-color: #e24141; }

p.personal_information {
  color: #484848;
  font-size: 16px; }
  p.personal_information a {
    text-decoration: none;
    border-bottom: 1px solid; }

#social_authorization_done {
  max-width: 918px;
  padding: 70px 80px; }
  #social_authorization_done h3 {
    margin-bottom: 35px; }
  #social_authorization_done p {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 50px; }

#modal_vote__form {
  max-width: 918px;
  padding: 70px 100px 80px; }
  #modal_vote__form .button {
    margin-top: 35px;
    z-index: 0;
    font-family: Montserrat, sans-serif; }
  #modal_vote__form h3 {
    margin-bottom: 50px; }

.modal_vote__form_items_wrap {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.modal_vote__form_item {
  width: 46%; }

select {
  font-size: 20px;
  color: #484848;
  font-weight: 400;
  font-family: Montserrat, snas-serif;
  border: 3px solid #959595;
  height: 60px;
  width: 340px;
  margin-right: 30px;
  text-indent: 25px;
  width: 100%; }
  select:focus {
    border: 3px solid #282828;
    outline: none; }
  select:hover {
    border: 3px solid #757575; }

label {
  display: block;
  font-size: 20px;
  color: #484848;
  line-height: 1;
  margin-bottom: 15px; }

.jq-selectbox__select {
  background: transparent;
  border: 3px solid #282828;
  height: 60px;
  width: 340px;
  text-indent: 25px;
  border-radius: 0;
  padding-top: 11px;
  z-index: 9999; }
  .jq-selectbox__select:hover {
    background: transparent; }

.jq-selectbox.opened {
  z-index: 9999; }
  .jq-selectbox.opened .jq-selectbox__select {
    outline: none !important;
    border: 3px solid #282828 !important; }
    .jq-selectbox.opened .jq-selectbox__select:hover {
      border: 3px solid #757575;
      background-color: transparent; }

.jq-selectbox__trigger-arrow {
  border-top: none;
  border-left: none;
  border-right: none;
  background-image: url(../img/select_arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 20px;
  height: 15px;
  color: #484848;
  top: 23px;
  right: 20px; }

.jq-selectbox__select-text {
  font-size: 20px;
  color: #484848;
  font-weight: 400;
  font-family: Montserrat, snas-serif; }

.jq-selectbox__select-text.placeholder {
  display: none; }

.jq-selectbox__dropdown {
  width: 340px 	!important;
  margin-top: 60px;
  border-radius: 0;
  border: 3px solid #282828;
  border-top: none; }
  .jq-selectbox__dropdown ul {
    width: 100%;
    height: 210px; }
    .jq-selectbox__dropdown ul li {
      height: 60px;
      padding: 20px 0 0 35px;
      font-size: 20px;
      color: #484848;
      font-weight: 400;
      font-family: Montserrat, snas-serif; }
      .jq-selectbox__dropdown ul li:hover {
        background-color: #e24141; }

#modal_vote_confirmation, #modal_vote_confirmation__duplication {
  max-width: 918px;
  padding: 80px 80px 75px; }
  #modal_vote_confirmation h3, #modal_vote_confirmation__duplication h3 {
    margin-bottom: 50px; }

p.modal_vote_confirmation_descr {
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 20px; }

.modal_vote_confirmation_content {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .modal_vote_confirmation_content p {
    color: #484848;
    font-size: 20px;
    line-height: 30px; }

.modal_vote_social {
  width: 40%; }
  .modal_vote_social a {
    color: #484848;
    border: 3px solid #484848;
    width: 60px;
    height: 60px;
    font-size: 26px;
    padding-top: 9px; }
    .modal_vote_social a:hover {
      border: 3px solid; }

.self_finish_descr {
  font-size: 28px; }

.self_finish_content {
  margin-top: 60px; }
  .self_finish_content p {
    display: inline-block;
    margin-right: 60px;
    vertical-align: top;
    margin-top: 0;
    font-size: 20px; }
  .self_finish_content .footer__social {
    display: inline-block;
    width: auto; }
    .self_finish_content .footer__social a {
      color: #000;
      border: 2px solid #000;
      width: 80px;
      height: 80px;
      vertical-align: top;
      margin-top: 10px;
      font-size: 40px;
      padding-top: 10px;
      margin-left: 20px; }
      .self_finish_content .footer__social a:hover {
        color: #e24141;
        border: 2px solid #e24141; }
      .self_finish_content .footer__social a:first-child {
        margin-left: 0; }
