@media only screen and (min-width: 1920px) {
  .only_xxl {
    display: block !important; }
  .hidden_xxl {
    display: none !important; }
  .header__carousel .owl_slide {
    right: 10%; }
  .header__carousel .owl-prev {
    right: 373px; }
  .header__carousel .owl_slide1 img {
    top: 47px; }
  .header__carousel .owl_slide3 img {
    top: 2px;
    position: relative; }
  .s_vote {
    padding-bottom: 103px; }
  .more_participators__button_wrap {
    margin-top: -26px; }
  .s_about {
    padding-top: 100px; }
  .s_about__carousel_wrap {
    margin-top: 4px; }
  p.s_about__rules {
    margin-top: 25px;
    margin-bottom: 60px; }
  .s_heroes {
    padding-top: 129px;
    padding-bottom: 103px; }
    .s_heroes .owl-stage-outer {
      padding-bottom: 35px; }
  .heroes_carousel__item .button_wrap {
    bottom: -37px; }
  .s_cities {
    padding-bottom: 0; }
  .s_steps {
    padding-top: 95px; }
  .s_films {
    padding-bottom: 63px; }
  .s_films__container h2 {
    margin-bottom: 33px; }
  .s_films__carousel_wrap {
    margin-top: 8px; }
  .s_films__carousel_line {
    margin: 21px 0 18px; }
  .s_questions {
    padding-top: 94px;
    padding-bottom: 114px; }
  .questions__first_block {
    padding: 70px 0 16px 48px; }
  .s_narratives h4 {
    margin-bottom: 34px; }
  .s_narratives h2 {
    margin-bottom: 49px; } }

@media only screen and (max-width: 1365px) {
  .container {
    width: 900px; }
  .hidden_lg {
    display: none !important; }
  h1 {
    font-size: 140px;
    margin-bottom: 59px;
    margin-top: 130px; }
  h2 {
    font-size: 83px; }
  h3 {
    font-size: 28px; }
  h5 {
    font-size: 18px; }
  p {
    font-size: 18px; }
  a {
    font-size: 17px; }
  .button {
    font-size: 17px; }
  header {
    background-image: url(../img/header_bg1024.jpg); }
  .header__top_part {
    background-color: #1A222C; }
    .header__top_part .top_nav, .header__top_part .button {
      opacity: 1; }
  .header__top_part_container {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .header__top_part_container .button {
      padding: 22px 22px 5px 30px;
      font-size: 17px;
      font-family: Circe, sans-serif;
      display: inline-block;
      -ms-flex-preferred-size: auto;
      flex-basis: auto; }
  .logo {
    position: relative;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
    .logo img {
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s;
      -webkit-transition-duration: 1s;
      -o-transition-duration: 1s;
      transition-duration: 1s;
      position: relative;
      top: 0px;
      left: 0%;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1); }
  .header__main_part h3 {
    margin-bottom: 17px; }
  .header__main_part .button {
    padding: 18px 50px 22px 40px;
    margin-bottom: 77px; }
  .logo {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: 80px;
    margin-top: 14px; }
    .logo img {
      width: 100%; }
  .top_nav {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: 635px; }
    .top_nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      margin-top: 10px;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .top_nav ul li a {
        color: #fff;
        text-decoration: none;
        font-size: 17px;
        font-family: Circe, sans-serif;
        margin-right: 15px; }
        .top_nav ul li a:last-child {
          margin-right: 0; }
        .top_nav ul li a:hover, .top_nav ul li a:focus {
          color: #e24141; }
        .top_nav ul li a:active {
          color: #D23D3C; }
  .header__carousel_wrap img {
    width: 100%;
    height: auto;
    margin-top: 91px; }
  .header__carousel__item_description {
    left: 248px;
    bottom: 30px; }
    .header__carousel__item_description:nth-child(2), .header__carousel__item_description:nth-child(3) {
      bottom: 40px; }
    .header__carousel__item_description span {
      font-size: 14px;
      margin-top: 16px; }
  .header__carousel .owl-nav {
    width: 644px;
    float: right; }
  .header__carousel .owl-prev {
    bottom: 91px;
    right: 117px;
    background-image: url(../img/s_about_carousel_next_button.svg);
    height: 21px; }
  .header__carousel .owl-next {
    bottom: 91px;
    left: 58%;
    background-image: url(../img/s_about_carousel_prev_button.svg);
    height: 21px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 18px;
    z-index: 400;
    background-position: center; }
  .header__carousel .owl_slide3 .header__carousel__item_description {
    bottom: 74px;
    left: 328px; }
  .header__carousel .owl_slide2 .header__carousel__item_description {
    bottom: 74px;
    left: 246px; }
  .header__carousel .owl_slide1 img {
    top: 46px; }
  .s_number_of_stories {
    padding: 89px 0 94px; }
    .s_number_of_stories h2 {
      letter-spacing: 0;
      margin-bottom: 21px; }
  .s_number_of_stories_text p {
    font-size: 18px;
    line-height: 30px; }
    .s_number_of_stories_text p:first-child {
      padding-right: 65px;
      margin-bottom: 19px; }
  .s_number_of_stories_nembers_item {
    margin-top: 66px; }
    .s_number_of_stories_nembers_item h3 {
      font-size: 83px;
      line-height: .9; }
    .s_number_of_stories_nembers_item span {
      font-size: 18px; }
    .s_number_of_stories_nembers_item:first-child {
      -webkit-box-ordinal-group: 13;
      -ms-flex-order: 12;
      order: 12;
      margin-left: 0;
      margin-right: 0; }
    .s_number_of_stories_nembers_item:last-child {
      margin-left: 30px;
      margin-right: 64px; }
  .s_vote {
    padding: 85px 0 100px; }
    .s_vote h2 {
      margin-bottom: 3px; }
  .user_name_block {
    margin-bottom: 12px; }
  .s_vote_items_wrap {
    padding-top: 58px;
    margin-left: -30px;
    margin-right: -30px; }
  .s_vote_item {
    width: 49%;
    padding: 59px 10px 22px 26px;
    margin-bottom: 70px; }
  .participator_top__text {
    width: 304px; }
  h3.participator_name {
    font-size: 45px; }
  p.participator_place_of_work {
    font-size: 14px; }
  p.participator__abut_text {
    margin-top: 26px;
    line-height: 1.7; }
  .more_participators__button_wrap {
    margin-top: 6px; }
    .more_participators__button_wrap button {
      font-size: 18px; }
      .more_participators__button_wrap button::after {
        width: 16px;
        right: -19px; }
  .s_about {
    padding: 82px 0 74px; }
    .s_about .button {
      padding: 20px 53px 22px 39px; }
  .s_about__container h2 {
    margin-bottom: 27px; }
  .s_about__carousel_wrap {
    margin-right: 0;
    margin-left: 46px;
    width: 36.5%; }
    .s_about__carousel_wrap img {
      height: 453px; }
  .s_about__carousel_wrap .owl-prev {
    left: -23px;
    top: 36%;
    width: 40px;
    height: 39px; }
  .s_about__carousel_wrap .owl-next {
    right: -23px;
    top: 36%;
    width: 40px;
    height: 39px; }
  .s_about__text p {
    line-height: 1.7; }
    .s_about__text p:nth-child(4) {
      margin-bottom: 0; }
  p.s_about__rules {
    margin-top: 17px;
    margin-bottom: 52px; }
  .s_about__carousel_descr {
    font-size: 14px;
    letter-spacing: -0.2px; }
  .s_heroes {
    padding: 82px 0 4px; }
    .s_heroes h2 {
      margin-bottom: 37px; }
  .heroes_carousel__item, .owl-item.center .heroes_carousel__item, .heroes_carousel .owl-item.center .heroes_carousel__item {
    width: 900px;
    height: 444px; }
  .heroes_carousel__item {
    padding: 114px 105px 0 440px; }
    .heroes_carousel__item h3 {
      font-size: 22px;
      line-height: 1.2; }
  .heroes_carousel__item p {
    font-size: 14px; }
  .heroes_carousel__item .button_wrap {
    bottom: -26px; }
    .heroes_carousel__item .button_wrap .button {
      padding: 19px 48px 24px 62px; }
  .heroes_carousel .owl-prev {
    left: -42px;
    top: -359px;
    width: 25.5px;
    height: 32.5px; }
  .heroes_carousel .owl-next {
    right: -42px;
    top: -359px;
    width: 25.5px;
    height: 32.5px; }
  .s_cities {
    padding: 67px 0 57px; }
    .s_cities h2 {
      line-height: 1.1;
      margin-bottom: 24px; }
  .s_cities__item p span {
    margin-left: 15px; }
  .s_cities__item:nth-child(3) {
    padding-left: 63px; }
  .s_cities__item:nth-child(4) {
    padding-left: 87px; }
  .s_steps {
    padding: 0 0 80px; }
    .s_steps h2 {
      letter-spacing: -0.3px;
      margin-bottom: 33px; }
  .step_item {
    width: 17%; }
    .step_item:nth-child(2) {
      width: 19%; }
    .step_item:nth-child(3) {
      width: 17.7%; }
    .step_item:nth-child(4) {
      width: 20.1%; }
    .step_item:nth-child(5) {
      width: 18.4%; }
    .step_item:nth-child(6) {
      width: 7.8%; }
    .step_item img {
      margin-bottom: 46px;
      height: 60px; }
    .step_item h5 {
      margin-bottom: 5px;
      font-size: 18px; }
    .step_item p {
      line-height: 1.5;
      font-size: 16px; }
  .action_line_wrap {
    top: 214px; }
  .s_films {
    padding: 5px 0 62px; }
    .s_films .button {
      padding: 20px 53px 22px 39px; }
  .s_films__container h2 {
    margin-bottom: 26px; }
  .s_films__carousel_wrap {
    margin-right: 0;
    margin-left: 46px;
    width: 36.5%; }
    .s_films__carousel_wrap img {
      height: 453px; }
  .s_films__carousel_wrap {
    margin-top: 11px; }
    .s_films__carousel_wrap .owl-prev {
      left: -23px;
      top: 36%;
      width: 40px;
      height: 39px; }
    .s_films__carousel_wrap .owl-next {
      right: -23px;
      top: 36%;
      width: 40px;
      height: 39px; }
  .s_films__text p {
    line-height: 1.5;
    margin-bottom: 23px; }
  p.last_block {
    margin-top: 22px;
    margin-bottom: 72px; }
  .s_films__carousel_descr {
    font-size: 16px;
    letter-spacing: -0.2px; }
  .s_questions {
    padding: 72px 0 50px; }
    .s_questions h2 {
      margin-bottom: 28px; }
  .questions__first_block {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: 36%;
    background-color: #fff;
    padding: 39px 0 51px 38px;
    position: relative;
    left: -39px; }
    .questions__first_block h3 {
      font-size: 18px;
      letter-spacing: -0.1px;
      line-height: 1.2;
      margin-bottom: 10px; }
    .questions__first_block p {
      font-size: 16px; }
  .questions__first_block_item {
    margin-bottom: 31px; }
  .questions__last_block {
    width: 64%;
    padding: 34px 0 0 14px; }
    .questions__last_block h3 {
      letter-spacing: -0.1px;
      margin-bottom: 24px;
      font-size: 18px; }
  .questions_steps_left {
    width: 58%; }
    .questions_steps_left .questions_steps_item:nth-child(1) {
      margin-bottom: 37px; }
    .questions_steps_left .questions_steps_item:nth-child(2) {
      margin-bottom: 16px; }
  .questions_steps_right {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: 42%; }
    .questions_steps_right .questions_steps_item:nth-child(1) {
      margin-bottom: 14px; }
    .questions_steps_right .questions_steps_item:nth-child(2) {
      margin-bottom: 15px; }
  .questions_steps {
    margin-bottom: 22px; }
  .questions_steps_item h5 {
    font-size: 16px;
    margin-bottom: 10px; }
  .questions_steps_item p {
    font-size: 16px; }
  a.qestion_link {
    font-size: 16px;
    display: block;
    padding-top: 40px; }
  .s_narratives {
    background-color: #1A222C;
    background-image: url(../img/narratives.jpg);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    padding: 73px 0 95px; }
    .s_narratives h4 {
      color: #fff;
      font-weight: normal;
      letter-spacing: 1.3px;
      margin-bottom: 20px;
      font-size: 17px; }
    .s_narratives h2 {
      color: #fff;
      font-size: 83px;
      letter-spacing: 0px;
      margin-bottom: 35px; }
    .s_narratives .button {
      padding-right: 67px;
      padding-left: 62px;
      margin-right: 33px;
      letter-spacing: .5px;
      padding-top: 20px; }
      .s_narratives .button:last-child {
        padding-left: 46px;
        padding-right: 54px; }
  .footer__rights {
    width: 46%;
    margin-top: -2px; }
    .footer__rights p {
      letter-spacing: -0.3px; }
  .footer__news {
    width: 35%; }
    .footer__news a {
      padding: 10px 12px 8px 12px; }
  .footer__social {
    width: 19%; }
    .footer__social a {
      margin-left: 5px;
      padding-top: 5px;
      margin-top: -5px; }
  .modal_form h3 {
    font-size: 90px; }
  .modal_form p, .modal_form .button {
    font-size: 18px; }
  form.modal_character_historiy__form {
    max-width: 907px;
    height: 1024px;
    padding: 200px 110px; }
  .modal_character_historiy__heading {
    top: 0;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 45px; }
  .modal_historiy_character__photo {
    width: 215px;
    height: 215px; }
  .modal_character_historiy_vote {
    margin-top: 60px; }
  .mfp-close-btn-in .mfp-close {
    top: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    background-image: url(../img/mfp-close_small.svg); }
  .close_line {
    width: 45px;
    height: 3px;
    background: #000;
    z-index: 0; }
    .close_line:first-child {
      left: 14px; }
    .close_line:last-child {
      right: 15px; }
  #modal__user_city {
    max-width: 905px;
    padding: 200px 110px 180px 110px; }
  .modal__user_city__links {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  #modal_authorization {
    max-width: 905px; }
  .social_authorization__buttons_wrap {
    width: 255px; }
    .social_authorization__buttons_wrap button {
      width: 60px;
      height: 60px;
      padding: 0;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .social_authorization__buttons_wrap button span.text {
        display: none; }
      .social_authorization__buttons_wrap button span.icon {
        margin: 0;
        font-size: 30px; }
  p.modal_authorization_descr {
    font-size: 25px;
    padding-right: 35%; }
  p.personal_information {
    padding-right: 30%; }
  #modal_vote_confirmation, #modal_vote_confirmation__duplication {
    padding: 200px 80px 180px 110px; }
    #modal_vote_confirmation p.modal_vote_confirmation_descr, #modal_vote_confirmation__duplication p.modal_vote_confirmation_descr {
      font-size: 25px;
      margin-bottom: 45px; }
  .modal_vote_confirmation_content {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .modal_vote_confirmation_content p {
      width: 80%; }
  .modal_vote_social {
    width: 100%;
    text-align: left;
    margin-top: 40px; }
    .modal_vote_social a {
      margin-right: 30px; }
  .news_form_wrap, .news_form_wrap {
    padding: 190px 50px 180px 110px; }
    .news_form_wrap h3, .news_form_wrap h3 {
      font-size: 90px; }
  .news_form {
    padding-right: 75px; }
    .news_form input {
      margin-right: 0;
      width: 100%;
      margin-bottom: 70px; }
  #news_submit {
    float: right; }
  .news2_content p {
    width: 100%;
    font-size: 25px;
    padding-right: 28%;
    margin-bottom: 60px; }
    .news2_content p br {
      display: none; }
  #m_news_2 .footer__social a {
    width: 60px;
    height: 60px;
    margin-left: 0;
    margin-right: 35px;
    font-size: 30px;
    padding-top: 6px;
    margin-top: 0; } }

@media only screen and (max-width: 1023px) {
  .container {
    width: 648px; }
  .hidden_lg {
    display: block !important; }
  .hidden_md {
    display: none !important; }
  h1 {
    font-size: 100px;
    letter-spacing: -1.1px;
    margin-bottom: 57px;
    margin-top: 115px;
    margin-left: -4px;
    margin-right: -4px; }
  h2 {
    font-size: 86px;
    margin-left: -2px;
    margin-right: 2px; }
  h3 {
    font-size: 26px; }
  h4 {
    font-size: 26px; }
  h5 {
    font-size: 20px; }
  p {
    font-size: 20px; }
  a {
    font-size: 20px; }
  .button {
    font-size: 20px; }
  header {
    background-image: url(../img/header_bg768.jpg); }
  .logo {
    -ms-flex-preferred-size: 72%;
    flex-basis: 72%; }
    .logo img {
      width: 63px; }
  .header__top_part {
    margin-bottom: 45px; }
    .header__top_part .button {
      -ms-flex-preferred-size: 28%;
      flex-basis: 28%;
      position: relative;
      left: 60px;
      font-size: 14px;
      font-family: Montserrat, sans-serif;
      padding: 18px 21px 5px 25px; }
  .header__main_part h3 {
    margin-bottom: 26px; }
  .header__main_part p {
    padding-right: 250px;
    margin-bottom: 40px; }
    .header__main_part p br {
      display: none; }
  .header__main_part .button {
    padding: 25px 36px 25px 29px;
    margin-bottom: 105px; }
  .header__carousel_wrap img {
    margin-top: 8px; }
  .header__carousel_wrap .owl-item {
    float: right !important; }
  .header__carousel__item_description {
    left: 33%;
    bottom: 111px; }
  .owl_slide1 img {
    top: 0 !important; }
  .owl_slide2 {
    top: 6px !important; }
    .owl_slide2 .header__carousel__item_description {
      bottom: 113px !important;
      left: 36% !important; }
  .owl_slide3 {
    height: auto !important;
    top: 4px !important; }
    .owl_slide3 .header__carousel__item_description {
      bottom: 113px !important;
      left: 24% !important; }
    .owl_slide3 .header__carousel__item_description {
      left: 21%; }
    .owl_slide3 span {
      font-size: 14px;
      margin-top: 12px; }
  .header__carousel .owl-prev {
    bottom: 127px;
    right: 52px;
    background-image: url(../img/s_about_carousel_next_button.svg);
    height: 21px; }
  .header__carousel .owl-next {
    bottom: 127px;
    left: 52%;
    background-image: url(../img/s_about_carousel_prev_button.svg);
    height: 21px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 18px;
    z-index: 400;
    background-position: center; }
  .s_number_of_stories {
    padding: 100px 0 50px; }
    .s_number_of_stories h2 {
      line-height: 80px;
      margin-bottom: 23px; }
  .s_number_of_stories_text {
    width: 76%; }
    .s_number_of_stories_text p {
      font-size: 20px; }
  .s_number_of_stories_nembers {
    width: 24%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .s_number_of_stories_nembers_item {
    margin-top: 9px;
    display: block;
    margin-bottom: 41px; }
    .s_number_of_stories_nembers_item h3 {
      font-size: 86px;
      line-height: .9; }
    .s_number_of_stories_nembers_item span {
      font-size: 20px; }
    .s_number_of_stories_nembers_item:first-child {
      -webkit-box-ordinal-group: 13;
      -ms-flex-order: 12;
      order: 12;
      margin-left: 0;
      margin-right: 0; }
      .s_number_of_stories_nembers_item:first-child h3 {
        margin-bottom: -7px; }
      .s_number_of_stories_nembers_item:first-child span {
        padding-left: 5px; }
    .s_number_of_stories_nembers_item:last-child {
      margin-left: 0px;
      margin-right: 0px; }
      .s_number_of_stories_nembers_item:last-child h3 {
        margin-bottom: -9px; }
      .s_number_of_stories_nembers_item:last-child span {
        padding-left: 2px; }
  .s_vote {
    padding: 90px 0 100px; }
    .s_vote h2 {
      letter-spacing: 0; }
    .s_vote .button {
      top: 48px; }
  .user_name_block {
    margin-bottom: 6px; }
  .s_vote_items_wrap {
    padding-top: 47px;
    margin-left: -18px;
    margin-right: -18px; }
  .s_vote_item {
    width: 100%;
    margin-bottom: 84px; }
  .s_vote_item {
    padding: 58px 10px 15px 50px; }
  .participator_image {
    width: 146px;
    height: 146px;
    margin-right: 38px; }
  .participator_top__text {
    width: 340px; }
  h3.participator_name {
    font-size: 70px; }
  p.participator_place_of_work {
    font-size: 20px;
    line-height: 30px; }
  p.participator__abut_text {
    line-height: 1.6; }
  .participator_likes_number_wrap {
    top: -3px;
    right: 34px; }
  .participator_likes_number {
    font-size: 31px;
    margin-right: 12px; }
  .more_participators__button_wrap {
    margin-top: 2px; }
    .more_participators__button_wrap button {
      font-size: 20px; }
      .more_participators__button_wrap button::after {
        width: 14px;
        top: 12px; }
  .s_about {
    padding: 81px 0 89px; }
    .s_about h2 {
      letter-spacing: -0.1px;
      line-height: 0.9; }
  .s_about__carousel_wrap {
    display: none; }
  .s_about__text {
    width: 100%; }
    .s_about__text p {
      line-height: 1.5;
      letter-spacing: 0.1px; }
  p.s_about__rules {
    margin-top: 51px;
    margin-bottom: 44px; }
  .s_about .button {
    padding: 21px 41px 29px 39px; }
  .s_heroes {
    padding: 96px 0 51px; }
    .s_heroes h2 {
      margin-bottom: 30px; }
  .heroes_carousel__item, .owl-item.center .heroes_carousel__item, .heroes_carousel .owl-item.center .heroes_carousel__item {
    width: 648px;
    height: 327px; }
  .heroes_carousel__item {
    padding: 64px 0 0 324px; }
  .heroes_carousel__item h3 {
    font-size: 18px;
    line-height: 1.3; }
    .heroes_carousel__item h3 br {
      display: none; }
  .heroes_carousel__item1 h3 {
    padding-right: 24px; }
  .heroes_carousel__item2 h3 {
    padding-right: 45px; }
  .heroes_carousel__item3 h3 {
    padding-right: 86px; }
  .heroes_carousel__item .button_wrap {
    left: 29%; }
    .heroes_carousel__item .button_wrap .button {
      padding: 23px 44px 21px 62px; }
  .heroes_carousel .owl-prev {
    top: -257px;
    z-index: 2000; }
  .heroes_carousel .owl-next {
    top: -257px;
    right: -42px;
    z-index: 2000; }
  .s_cities {
    padding: 90px 0 46px; }
    .s_cities h2 {
      line-height: 1;
      margin-bottom: 38px; }
      .s_cities h2 span {
        margin-left: 3px; }
  .s_cities__item {
    width: 50%; }
    .s_cities__item p {
      line-height: 1.15; }
    .s_cities__item:nth-child(2) {
      -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
      order: 3; }
    .s_cities__item:nth-child(4) {
      padding-left: 63px;
      -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
      order: 4; }
  .s_steps {
    padding: 14px 0 51px; }
  .step_item {
    width: 50%;
    padding-left: 8px;
    margin-bottom: 30px; }
    .step_item h2 {
      margin-bottom: 30px; }
    .step_item:nth-child(2), .step_item:nth-child(3), .step_item:nth-child(4), .step_item:nth-child(5), .step_item:nth-child(6) {
      width: 50%; }
    .step_item img, .step_item .step_item__text {
      display: inline-block;
      vertical-align: top; }
    .step_item .step_item__text {
      margin-left: 25px;
      margin-top: 5px; }
      .step_item .step_item__text p, .step_item .step_item__text h5 {
        font-size: 20px; }
      .step_item .step_item__text h5 {
        margin-bottom: 12px; }
  .action_line_wrap {
    display: none; }
  .s_films__container {
    overflow-x: visible; }
  .s_films {
    padding-bottom: 108px; }
    .s_films h2 {
      line-height: 0.9;
      letter-spacing: -1.4px;
      margin-bottom: 40px; }
  .s_films__text {
    width: 100%; }
    .s_films__text p {
      padding-right: 30px; }
  .s_films__carousel_wrap {
    width: 100%;
    margin-left: 0;
    margin-top: 7px; }
    .s_films__carousel_wrap img {
      height: 763px; }
    .s_films__carousel_wrap .owl-next, .s_films__carousel_wrap .owl-prev {
      display: none; }
    .s_films__carousel_wrap .owl-item {
      -webkit-transition: .7s;
      -o-transition: .7s;
      transition: .7s; }
      .s_films__carousel_wrap .owl-item .s_films__carousel_line {
        opacity: 0; }
      .s_films__carousel_wrap .owl-item .s_films__carousel_descr {
        opacity: 0; }
      .s_films__carousel_wrap .owl-item.center {
        margin-top: 30px; }
        .s_films__carousel_wrap .owl-item.center .s_films__carousel_line {
          opacity: 1; }
        .s_films__carousel_wrap .owl-item.center .s_films__carousel_descr {
          opacity: 1; }
  .s_films__carousel_line {
    margin: 0 0 15px;
    position: relative;
    top: -4px;
    width: 50px; }
  p.s_films__carousel_descr {
    font-size: 14px;
    letter-spacing: .1px;
    margin-bottom: 48px; }
    p.s_films__carousel_descr br {
      display: none !important; }
  .s_films__text_bottom p {
    line-height: 1.8; }
  p.last_block {
    margin-top: 31px;
    margin-bottom: 57px; }
  .s_films .button {
    padding: 24px 40px 26px 41px; }
  .s_films__button_wrap p {
    margin-left: 25px; }
  .s_questions {
    padding: 87px 0 78px; }
    .s_questions h2 {
      margin-bottom: 40px;
      padding-right: 350px;
      line-height: 0.9;
      margin-bottom: 42px;
      margin-left: -2px; }
    .s_questions ul {
      list-style-type: none;
      margin: 0;
      padding: 0; }
      .s_questions ul h3 {
        color: #e24141;
        display: inline-block;
        position: relative; }
        .s_questions ul h3::after {
          content: '';
          position: absolute;
          bottom: 5px;
          right: -36px;
          width: 29px;
          height: 14px;
          background-image: url(../img/toggle_mnu_arrow.svg);
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain; }
      .s_questions ul .header_3::after {
        right: 100px;
        bottom: 7px; }
    .s_questions .m_item {
      margin-bottom: 40px; }
      .s_questions .m_item.active h3::after {
        -webkit-transition: 0.7s;
        -o-transition: 0.7s;
        transition: 0.7s;
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
        bottom: 6px; }
    .s_questions .sub_mnu {
      margin-top: 9px;
      display: none; }
  .toggle_steps_items_wrap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .questions_steps_left, .questions_steps_right {
    padding-top: 15px;
    margin-bottom: 0px; }
    .questions_steps_left h5, .questions_steps_left p, .questions_steps_right h5, .questions_steps_right p {
      font-size: 20px; }
  .questions_steps_left {
    width: 56%; }
    .questions_steps_left .questions_steps_item:nth-child(1) {
      margin-bottom: 54px; }
    .questions_steps_left .questions_steps_item:nth-child(2) {
      margin-bottom: 34px; }
    .questions_steps_left .questions_steps_item:nth-child(3) {
      margin-bottom: 0; }
  .questions_steps_right {
    width: 44%;
    padding-left: 10px; }
    .questions_steps_right .questions_steps_item:nth-child(1) {
      margin-bottom: 21px; }
    .questions_steps_right .questions_steps_item:nth-child(2) {
      margin-bottom: 30px; }
    .questions_steps_right .questions_steps_item:nth-child(3) {
      margin-bottom: 0; }
  .questions__last_block {
    position: relative;
    top: -17px;
    padding: 0;
    width: 100%; }
  a.qestion_link {
    font-size: 20px; }
  .s_narratives {
    padding: 92px 0 94px; }
    .s_narratives h4 {
      font-size: 24px;
      margin-bottom: 5px; }
    .s_narratives h2 {
      font-size: 72px;
      letter-spacing: -0.6px; }
    .s_narratives .button {
      padding-right: 38px;
      padding-left: 39px;
      padding-bottom: 27px;
      margin-right: 23px;
      letter-spacing: 0.1px;
      padding-top: 25px; }
      .s_narratives .button:last-child {
        padding-left: 42px;
        padding-right: 43px; }
  .footer__rights {
    width: 31%;
    margin-top: -17px; }
    .footer__rights p {
      font-size: 14px;
      display: block;
      margin-bottom: 0px;
      margin-top: 9.3px;
      line-height: 1; }
  .footer__news {
    width: 41%; }
    .footer__news a {
      padding: 10px 19px 8px 15px; }
  .footer__social {
    width: 28%; }
    .footer__social a {
      margin-left: 11px; }
  .news_form_wrap {
    max-width: 100%;
    width: 100%;
    padding: 50px; }
  #m_news_2 p {
    display: block;
    margin-right: 0;
    vertical-align: top;
    margin-top: 0;
    margin-bottom: 0; }
    #m_news_2 p br {
      display: none; }
  #m_news_2 .footer__social {
    display: block;
    width: 100%;
    text-align: left;
    margin-top: 40px; }
    #m_news_2 .footer__social a {
      display: inline-block;
      margin: 0 20px; }
      #m_news_2 .footer__social a:first-child {
        margin-left: 0; }
  .self_link {
    margin-right: 0;
    margin-bottom: 30px; }
  .self_conten__button_wrap {
    text-align: left; }
  p.story_descr {
    margin-bottom: 60px;
    margin-right: 0; }
  .self_finish_descr br {
    display: none; }
  .self_finish_content {
    margin-top: 40px; }
    .self_finish_content p {
      margin-right: 0;
      margin-bottom: 40px; }
  .modal_form .button {
    font-size: 20px; }
  p.modal_authorization_descr {
    padding-right: 10%; }
  p.personal_information {
    padding-right: 15%; }
  #social_authorization_done {
    padding: 200px 60px  350px; }
    #social_authorization_done p {
      font-size: 26px;
      line-height: 36px; }
      #social_authorization_done p br {
        display: none; }
    #social_authorization_done .button {
      font-size: 20px;
      float: right; }
  #modal_vote__form {
    padding: 200px 60px 350px; }
    #modal_vote__form .button {
      margin-top: 80px;
      float: right; }
  select, .jq-selectbox__select, .jq-selectbox__dropdown {
    width: 296px !important; }
  #modal_vote_confirmation, #modal_vote_confirmation__duplication {
    padding-left: 60px;
    padding-right: 60px; }
  .modal_vote_confirmation_content p br {
    display: none; }
  .modal_vote_social {
    width: 100%; }
    .modal_vote_social a {
      margin-right: 30px;
      margin-left: 0; }
  .news_form_wrap {
    padding: 200px 60px; }
    .news_form_wrap h3 br {
      display: none; }
  .news2_content p {
    padding-right: 15%; }
  form.modal_character_historiy__form {
    padding-left: 60px;
    padding-right: 60px; }
    form.modal_character_historiy__form .participator_likes_number_wrap {
      top: 0;
      right: 0; }
  .modal_character_historiy__content p {
    font-size: 20px; } }

@media only screen and (max-width: 767px) {
  .container {
    width: 100%;
    max-width: 560px; }
  .hidden_lg {
    display: block; }
  .hidden_md {
    display: block !important; }
  .hidden_sm {
    display: none !important; }
  h1 {
    font-size: 130px;
    line-height: 0.9;
    margin-bottom: 32px;
    margin-top: 95px; }
  h2 {
    font-size: 100px;
    margin-right: -6px; }
  h3 {
    font-size: 39px; }
  h4 {
    font-size: 24px; }
  h5 {
    font-size: 26px; }
  p {
    font-size: 24px; }
  a {
    font-size: 17px; }
  .button {
    font-size: 24px; }
  header {
    background-image: url(../img/header_bg640.jpg); }
  .header__top_part {
    background-color: transparent;
    margin-bottom: 85px;
    position: relative; }
    .header__top_part.animated_header__top_part {
      background-color: transparent; }
  .logo {
    margin-top: 53px; }
    .logo img {
      width: 194px;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      left: 0;
      top: 0; }
  .header__main_part h3 {
    line-height: 1.2; }
  .header__main_part p {
    padding-right: 35px;
    line-height: 1.4;
    margin-bottom: 30px; }
  .header__main_part .button {
    padding: 26px 39px 30px 40px;
    margin-bottom: 126px; }
  .s_number_of_stories {
    padding: 94px 0 90px; }
    .s_number_of_stories h2 {
      line-height: 100px; }
  .s_number_of_stories_text {
    width: 100%; }
    .s_number_of_stories_text p {
      font-size: 24px;
      padding-right: 0;
      line-height: 36px; }
      .s_number_of_stories_text p:first-child {
        padding-right: 0;
        margin-bottom: 27px; }
  .s_number_of_stories_nembers {
    width: 100%;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .s_number_of_stories_nembers_item {
    margin-bottom: 0;
    margin-top: 60px; }
    .s_number_of_stories_nembers_item:first-child {
      -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
      order: 0; }
      .s_number_of_stories_nembers_item:first-child h3 {
        margin-bottom: 1px; }
    .s_number_of_stories_nembers_item:last-child h3 {
      margin-bottom: 1px; }
    .s_number_of_stories_nembers_item:last-child span {
      padding-left: 0; }
    .s_number_of_stories_nembers_item h3 {
      font-size: 100px;
      margin-bottom: 1px; }
    .s_number_of_stories_nembers_item span {
      font-size: 31px; }
  .s_vote {
    padding: 96px 0 87px; }
    .s_vote h2 {
      padding-right: 25%;
      margin-bottom: 19px; }
    .s_vote .button {
      top: 46px;
      padding: 26px 41px 29px 41px; }
  .user_name_block {
    margin-bottom: 3px; }
  .user_city_block a {
    font-size: 24px; }
    .user_city_block a::after {
      top: 9px;
      right: -26px;
      width: 21px;
      height: 15px; }
  .s_vote_items_wrap {
    padding-top: 54px; }
  .s_vote_item {
    padding: 68px 10px 3px 32px;
    margin-bottom: 102px; }
  .participator_image {
    width: 120px;
    height: 120px;
    margin-right: 35px; }
  h3.participator_name {
    font-size: 63px; }
  .participator_likes_number_wrap {
    top: 0;
    right: 24px; }
    .participator_likes_number_wrap img {
      width: 33px;
      height: 33px; }
  .participator_likes_number {
    font-size: 41px; }
  p.participator__abut_text {
    padding-right: 40px; }
  .more_participators__button_wrap {
    margin-top: 11px; }
  .more_participators__button_wrap button {
    font-size: 24px; }
  .s_about {
    padding: 91px 0 103px; }
    .s_about h2 {
      line-height: .95;
      margin-bottom: 33px; }
    .s_about p {
      letter-spacing: -0.3px;
      margin-bottom: 52px; }
      .s_about p:nth-child(2), .s_about p:nth-child(3) {
        margin-bottom: 25px; }
      .s_about p a {
        font-size: 24px; }
  .s_about__button_wrap p {
    margin-left: 0;
    margin-bottom: 32px; }
  .s_heroes {
    padding: 70px 0 100px; }
    .s_heroes .owl-nav {
      display: none; }
    .s_heroes h2 {
      margin-bottom: 41px; }
    .s_heroes .owl-item {
      opacity: 1; }
  .heroes_carousel__item, .owl-item.center .heroes_carousel__item, .heroes_carousel .owl-item.center .heroes_carousel__item {
    width: 560px;
    height: 282px; }
    .heroes_carousel__item h3, .heroes_carousel__item p, .owl-item.center .heroes_carousel__item h3, .owl-item.center .heroes_carousel__item p, .heroes_carousel .owl-item.center .heroes_carousel__item h3, .heroes_carousel .owl-item.center .heroes_carousel__item p {
      display: none; }
  .heroes_carousel__item .button_wrap {
    left: 20%;
    bottom: -37px; }
    .heroes_carousel__item .button_wrap .button {
      padding: 27px 44px 27px 72px; }
  .heroes_carousel .owl-item .heroes_carousel__item {
    margin-top: 0; }
  .s_heroes .owl-stage-outer {
    padding-bottom: 37px; }
  .s_cities__item:nth-child(1), .s_cities__item:nth-child(2) {
    width: 58.8%; }
  .s_cities__item:nth-child(3), .s_cities__item:nth-child(4) {
    width: 40%;
    padding-left: 0; }
  .s_cities__item p {
    margin-bottom: 35px; }
  .s_steps {
    padding: 2px 0 39px; }
    .s_steps h2 {
      margin-bottom: 40px; }
    .s_steps .step_item {
      width: 100%;
      margin-bottom: 6px; }
      .s_steps .step_item img {
        height: 80px; }
      .s_steps .step_item:nth-child(2) img, .s_steps .step_item:nth-child(4) img, .s_steps .step_item:nth-child(5) img, .s_steps .step_item:nth-child(6) img {
        margin-left: -10px; }
      .s_steps .step_item:nth-child(3), .s_steps .step_item:nth-child(4) {
        margin-bottom: 0px; }
      .s_steps .step_item:nth-child(2) .step_item__text, .s_steps .step_item:nth-child(4) .step_item__text, .s_steps .step_item:nth-child(5) .step_item__text, .s_steps .step_item:nth-child(6) .step_item__text {
        margin-left: 32px; }
  .step_item .step_item__text {
    margin-left: 40px;
    margin-top: 7px; }
    .step_item .step_item__text h5 {
      font-size: 26px;
      margin-bottom: 18px; }
    .step_item .step_item__text p {
      font-size: 24px; }
      .step_item .step_item__text p br {
        display: none; }
  .s_films__text p {
    padding-right: 0;
    letter-spacing: -0.1px; }
  .s_films__carousel_wrap {
    margin-top: 33px; }
  .s_films__carousel_wrap .owl-item.center {
    margin-top: 0; }
  .s_films__carousel_line {
    margin: 31px 0 15px;
    top: 0; }
  p.s_films__carousel_descr {
    font-size: 19px;
    letter-spacing: 0.7px;
    margin-bottom: 42px; }
  .s_films__text_bottom p {
    line-height: 1.6; }
  p.last_block {
    margin-top: 9px;
    margin-bottom: 31px; }
  .s_films__button_wrap p {
    margin-left: 0;
    margin-bottom: 23px; }
  .s_films .button {
    padding: 26px 42px 30px 41px; }
  .s_questions {
    padding: 82px 0 45px; }
    .s_questions h2 {
      padding-right: 230px;
      line-height: 1;
      margin-bottom: 36px; }
    .s_questions h3 {
      font-size: 32px; }
    .s_questions li {
      font-size: 24px; }
  .s_questions ul h3::after {
    height: 25px;
    width: 31px;
    bottom: 0; }
  .m_item:nth-child(2) h3 {
    padding-right: 50px; }
    .m_item:nth-child(2) h3::after {
      right: 320px;
      bottom: -1px; }
  .m_item:nth-child(3) h3::after {
    bottom: 0px; }
  .m_item:nth-child(4) h3 {
    padding-right: 50px; }
    .m_item:nth-child(4) h3::after {
      right: 388px;
      bottom: -1px; }
  .questions_steps_left, .questions_steps_right {
    width: 100%;
    padding-left: 0;
    padding-top: 20px; }
    .questions_steps_left h5, .questions_steps_left p, .questions_steps_right h5, .questions_steps_right p {
      font-size: 24px; }
    .questions_steps_left h5, .questions_steps_right h5 {
      margin-bottom: 27px; }
    .questions_steps_left .questions_steps_item:nth-child(1), .questions_steps_left .questions_steps_item:nth-child(2), .questions_steps_left .questions_steps_item:nth-child(3), .questions_steps_right .questions_steps_item:nth-child(1), .questions_steps_right .questions_steps_item:nth-child(2), .questions_steps_right .questions_steps_item:nth-child(3) {
      margin-bottom: 37px; }
  .questions_steps_item_last {
    margin-bottom: 0 !important; }
  .questions_steps_right {
    padding-top: 6px; }
    .questions_steps_right .questions_steps_item:nth-child(1), .questions_steps_right .questions_steps_item:nth-child(2), .questions_steps_right .questions_steps_item:nth-child(3) {
      margin-bottom: 42px; }
  .questions__last_block {
    top: -46px; }
    .questions__last_block a {
      font-size: 24px;
      color: #484848; }
    .questions__last_block a.qestion_link {
      color: #484848; }
      .questions__last_block a.qestion_link:hover {
        color: #e24141; }
  .s_narratives {
    padding-bottom: 67px; }
    .s_narratives h4 {
      letter-spacing: 0;
      margin-bottom: -9px; }
    .s_narratives h2 {
      font-size: 60px;
      letter-spacing: .4px; }
    .s_narratives .button {
      padding-right: 67px;
      padding-left: 71px;
      padding-bottom: 31px;
      margin-right: 0;
      margin-bottom: 39px;
      letter-spacing: 0.1px;
      padding-top: 23px; }
      .s_narratives .button:last-child {
        padding-left: 47px;
        padding-right: 50px; }
  footer {
    padding: 58px 0 108px; }
  .footer__rights {
    width: 50%; }
    .footer__rights p {
      font-size: 16px;
      margin-top: 15px;
      line-height: 1.5; }
  .footer__news {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
    width: 100%;
    text-align: center;
    margin-top: 64px; }
    .footer__news a {
      font-size: 24px;
      padding: 23px 50px 26px 43px; }
  .footer__social {
    width: 50%; }
    .footer__social a {
      width: 68px;
      height: 68px;
      font-size: 36px;
      margin-left: 17px;
      margin-top: -3px; }
  .news_form_wrap {
    padding: 50px 20px; }
  form.news_form input {
    width: 300px; }
  .self_link {
    padding-right: 73px; }
  p.story_descr br {
    display: none; }
  .mfp-container {
    padding: 0 !important; }
  .modal_form {
    width: 100vw !important;
    margin-left: 0 !important;
    margin-right: 0 !important; }
    .modal_form h3 {
      font-size: 100px; }
    .modal_form p {
      font-size: 20px; }
    .modal_form .button {
      font-size: 24px;
      width: 100%;
      text-align: center;
      padding-left: 0;
      padding-right: 0;
      padding: 40px; }
  form.modal_character_historiy__form {
    height: 942px;
    padding: 160px 30px 0 40px; }
    form.modal_character_historiy__form h3 {
      font-size: 63px; }
    form.modal_character_historiy__form .participator_likes_number_wrap {
      position: absolute;
      top: 160px;
      right: 50px; }
  .modal_historiy_character__photo {
    width: 120px;
    height: 120px;
    margin-right: 35px; }
  .modal_character_historiy__heading__text {
    width: 340px; }
  .modal_character_historiy__content p {
    line-height: 37px;
    font-size: 24px; }
  .modal_character_historiy_vote {
    margin-left: -40px;
    margin-right: -30px; }
    .modal_character_historiy_vote .button {
      padding: 40px; }
  .modal_character_historiy_vote__thank {
    width: 100%;
    text-align: center; }
  #modal_authorization {
    padding: 160px 40px;
    height: 100vh; }
  p.modal_authorization_descr {
    font-size: 24px; }
  #social_authorization_done {
    padding: 160px 40px 0; }
    #social_authorization_done .button {
      float: none;
      margin-left: -40px;
      margin-right: -40px;
      width: 100vw;
      border: none;
      top: 1px; }
  #modal_vote__form {
    padding: 160px 40px 0; }
    #modal_vote__form .button {
      float: none;
      border: none;
      margin-left: -40px;
      margin-right: -40px;
      width: 100vw;
      top: 1px; }
  .modal_vote__form_items_wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .modal_vote__form_item {
    width: 100%; }
    .modal_vote__form_item:first-child {
      margin-bottom: 40px; }
  select, .jq-selectbox__select, .jq-selectbox__dropdown, .jq-selectbox {
    width: 100% !important; }
  .modal_vote_confirmation_content p {
    width: 100%; }
  .modal_vote_social {
    width: 100%; }
  #modal_vote_confirmation__duplication {
    padding: 160px -1px 130px 40px; } }

@media only screen and (max-width: 639px) {
  .container {
    padding: 0 15px; }
  h1 {
    font-size: 80px;
    margin-top: 0;
    margin-bottom: 30px; }
  h2 {
    font-size: 65px; }
  h3 {
    font-size: 32px; }
  p {
    font-size: 20px; }
    p br {
      display: none; }
  .header__top_part {
    margin-bottom: 60px; }
  .logo {
    margin-top: 30px; }
  .header__main_part p {
    padding-right: 40px;
    margin-bottom: 50px; }
  .header__main_part .button {
    padding: 26px 34px 30px 33px;
    margin-bottom: 60px; }
  .s_about {
    padding: 60px 0 70px; }
    .s_about .button {
      padding: 21px 33px 29px 33px; }
  .s_heroes {
    padding: 60px 0 70px; }
    .s_heroes .button_wrap {
      left: 27%; }
      .s_heroes .button_wrap .button {
        font-size: 20px;
        padding-left: 60px;
        padding-right: 30px; }
  .s_cities {
    padding-top: 60px; }
  .s_cities__item, .s_cities__item:nth-child(1), .s_cities__item:nth-child(2) {
    width: 100%; }
  .s_steps h2 {
    letter-spacing: 0;
    line-height: 1;
    margin-bottom: 50px; }
  .s_steps .step_item, .s_steps .step_item:nth-child(2), .s_steps .step_item:nth-child(3), .s_steps .step_item:nth-child(4), .s_steps .step_item:nth-child(5), .s_steps .step_item:nth-child(6) {
    padding-left: 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-bottom: 30px; }
    .s_steps .step_item img, .s_steps .step_item:nth-child(2) img, .s_steps .step_item:nth-child(3) img, .s_steps .step_item:nth-child(4) img, .s_steps .step_item:nth-child(5) img, .s_steps .step_item:nth-child(6) img {
      height: 60px;
      margin-left: 0; }
    .s_steps .step_item .step_item__text, .s_steps .step_item:nth-child(2) .step_item__text, .s_steps .step_item:nth-child(3) .step_item__text, .s_steps .step_item:nth-child(4) .step_item__text, .s_steps .step_item:nth-child(5) .step_item__text, .s_steps .step_item:nth-child(6) .step_item__text {
      margin-left: 15px;
      width: 72%; }
      .s_steps .step_item .step_item__text h5, .s_steps .step_item:nth-child(2) .step_item__text h5, .s_steps .step_item:nth-child(3) .step_item__text h5, .s_steps .step_item:nth-child(4) .step_item__text h5, .s_steps .step_item:nth-child(5) .step_item__text h5, .s_steps .step_item:nth-child(6) .step_item__text h5 {
        font-size: 24px;
        margin-bottom: 7px; }
      .s_steps .step_item .step_item__text p, .s_steps .step_item:nth-child(2) .step_item__text p, .s_steps .step_item:nth-child(3) .step_item__text p, .s_steps .step_item:nth-child(4) .step_item__text p, .s_steps .step_item:nth-child(5) .step_item__text p, .s_steps .step_item:nth-child(6) .step_item__text p {
        font-size: 24px; }
  .s_films {
    padding-bottom: 70px; }
    .s_films .button {
      padding: 26px 33px 30px 33px; }
  .s_films__carousel_wrap .s_films__carousel_item img {
    height: auto; }
  .s_films__carousel_wrap .owl-item .s_films__carousel_descr, .s_films__carousel_wrap .owl-item .s_films__carousel_line {
    opacity: 1; }
  p.s_films__carousel_descr {
    margin-bottom: 20px; }
  .s_films__carousel_wrap {
    margin-left: auto;
    margin-right: auto;
    max-width: 560px;
    padding-left: 15px;
    padding-right: 15px; }
  .s_questions {
    padding-top: 60px; }
    .s_questions h2 {
      padding-right: 0; }
    .s_questions .m_item {
      margin-bottom: 20px; }
    .s_questions ul h3 {
      font-size: 24px; }
      .s_questions ul h3::after {
        display: none; }
  .s_narratives {
    padding: 60px 0 70px; }
    .s_narratives h2 {
      font-size: 30px;
      line-height: 90px; }
    .s_narratives .button {
      padding-left: 50px;
      padding-right: 50px;
      font-size: 20px; }
      .s_narratives .button:last-child {
        padding-left: 32px;
        padding-right: 33px; }
  footer {
    padding-bottom: 80px; }
  .footer__social {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    width: 100%;
    text-align: left;
    margin-bottom: 30px; }
  .footer__rights {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    width: 100%;
    margin-top: 30px; }
  .footer__news {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: left; }
    .footer__news a {
      padding: 18px 14px;
      font-size: 20px; }
  form h3, .news_form_wrap h3, #main_form h3 {
    font-size: 36px;
    margin-bottom: 30px; }
  form p, .news_form_wrap p, #main_form p {
    margin-bottom: 30px; }
  form .button, .news_form_wrap .button, #main_form .button {
    font-size: 20px;
    padding-right: 28px;
    padding-left: 22px; }
  form .mfp-close, .news_form_wrap .mfp-close, #main_form .mfp-close {
    right: -5px;
    top: -3px;
    color: #000;
    opacity: 1; }
  form .self_link, .news_form_wrap .self_link, #main_form .self_link {
    font-size: 20px;
    padding-right: 28px;
    padding-left: 22px; }
  form .friend_link, .news_form_wrap .friend_link, #main_form .friend_link {
    font-size: 20px;
    padding-left: 9px;
    padding-right: 9px; }
  form input, .news_form_wrap input, #main_form input {
    width: 100%; }
  form label, .news_form_wrap label, #main_form label {
    margin-bottom: 10px; }
  .form_about_self_wrap, .news_form_wrap {
    padding-top: 30px; }
    .form_about_self_wrap .form_steps, .news_form_wrap .form_steps {
      margin-bottom: 40px;
      width: 100%; }
      .form_about_self_wrap .form_steps a, .news_form_wrap .form_steps a {
        margin-right: 25px; }
    .form_about_self_wrap input, .form_about_self_wrap select, .form_about_self_wrap textarea, .form_about_self_wrap .jq-selectbox, .form_about_self_wrap .jq-selectbox__select, .news_form_wrap input, .news_form_wrap select, .news_form_wrap textarea, .news_form_wrap .jq-selectbox, .news_form_wrap .jq-selectbox__select {
      width: 100%; }
    .form_about_self_wrap .jq-selectbox__dropdown, .news_form_wrap .jq-selectbox__dropdown {
      width: 100% !important; }
    .form_about_self_wrap textarea, .news_form_wrap textarea {
      height: 150px;
      margin-top: 0;
      margin-bottom: 30px; }
    .form_about_self_wrap .self_content__item, .news_form_wrap .self_content__item {
      margin-bottom: 30px;
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      width: 100%; }
    .form_about_self_wrap .self_contacts__right, .news_form_wrap .self_contacts__right {
      width: 100%; }
  #id_dropzone {
    padding: 20px 0; }
  .form_social .form_social_wrap {
    padding-right: 15px; }
  .self_socials, .self_contacts {
    padding: 0; }
    .self_socials .self_contacts__left, .self_socials .self_contacts__right, .self_contacts .self_contacts__left, .self_contacts .self_contacts__right {
      width: 100%;
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%; }
  .form_social span {
    margin-bottom: 30px; }
  .form_about_self_finish_wrap, .news_form_wrap {
    padding-bottom: 30px; }
    .form_about_self_finish_wrap p, .form_about_self_finish_wrap .self_finish_descr, .news_form_wrap p, .news_form_wrap .self_finish_descr {
      font-size: 18px;
      margin-bottom: 25px; }
    .form_about_self_finish_wrap .self_finish_content, .news_form_wrap .self_finish_content {
      margin-top: 0; }
  .self_finish_content .footer__social a, #m_news_2 .footer__social a {
    height: 40px;
    width: 40px;
    font-size: 20px; }
  .form_friend_story_wrap textarea {
    margin-top: 30px; }
  form.news_form input {
    width: 100%;
    margin-bottom: 30px; } }

@media only screen and (min-width: 640px) and (max-width: 767px) {
  .s_films__carousel_wrap .s_films__carousel_item {
    width: 620px !important; } }

@media only screen and (min-width: 1366px) {
  .hidden_xl {
    display: none !important; } }

@media only screen and (min-width: 1440px) {
  .heroes_carousel .owl-next {
    right: 120px; }
  .heroes_carousel .owl-prev {
    left: 120px; } }

@media only screen and (min-width: 1530px) {
  .heroes_carousel .owl-next {
    right: 165px; }
  .heroes_carousel .owl-prev {
    left: 165px; } }

@media only screen and (min-width: 1600px) {
  .heroes_carousel .owl-next {
    right: 215px; }
  .heroes_carousel .owl-prev {
    left: 215px; } }

@media only screen and (min-width: 1700px) {
  .heroes_carousel .owl-next {
    right: 265px; }
  .heroes_carousel .owl-prev {
    left: 265px; } }

@media only screen and (min-width: 1800px) {
  .heroes_carousel .owl-next {
    right: 315px; }
  .heroes_carousel .owl-prev {
    left: 315px; } }

@media only screen and (min-width: 1900px) {
  .heroes_carousel .owl-next {
    right: 350px; }
  .heroes_carousel .owl-prev {
    left: 350px; } }

@media only screen and (min-width: 1900px) {
  .heroes_carousel .owl-next {
    right: 20%; }
  .heroes_carousel .owl-prev {
    left: 20%; } }

@media only screen and (min-width: 2140px) {
  .heroes_carousel .owl-next {
    right: 22%; }
  .heroes_carousel .owl-prev {
    left: 22%; } }

@media only screen and (min-width: 2300px) {
  .heroes_carousel .owl-next {
    right: 23.5%; }
  .heroes_carousel .owl-prev {
    left: 23.5%; } }

@media only screen and (min-width: 2400px) {
  .heroes_carousel .owl-next {
    right: 25%; }
  .heroes_carousel .owl-prev {
    left: 25%; } }
